<mat-form-field>
    <mat-select placeholder="selection type" [(ngModel)]="selectionType">
      <mat-option *ngFor="let select of selections" value="{{select.value}}">
        {{select.viewValue}}
      </mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field>
  <input matInput [(ngModel)]="keyword" placeholder="keyword" >
</mat-form-field>
<br>
<button mat-raised-button color="primary" (click)="search()">Search</button>
<div>
  <ul *ngFor="let book of books">
    <li>{{book.name}}</li>
  </ul>
</div>

